.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #f2f3f5;
    box-shadow: rgba(208, 229, 115, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   }
   .display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
   }
   .button {
    font-family: 'Orbitron', sans-serif;
    background-color: #18ce79;
    color: rgb(19, 13, 13);
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
   }
   .button:active {
    background: #0e0b0b;
    -webkit-box-shadow: inset 0px 0px 5px #161515;
    -moz-box-shadow: inset 0px 0px 5px #1a1717;
    box-shadow: inset 0px 0px 5px #322c2c;
   }